**/year_2018.csv
**/year_2017.csv
**/year_2016.csv
**/year_2015.csv
**/year_2014.csv
**/year_2013.csv
**/3rd_draft.csv
**/recommender_b4.p
**/recommender_content.p
**/recommender_user.p
**/recommender_bcn.p
